#Gallery {
  color: white;
  margin-left: auto;
  margin-right: auto;
}

#Gallery #imageSlideShow #actualImage {
  border-radius: 20px;
  box-shadow: 0 0 15px 3px #000000bb;
}

#carouselExampleDark {
  width: 50%;
  height: 30%;
  border-radius: 20px;
  box-shadow: 0 0 15px 3px #000000bb;
}

#carouselExampleDark img {
  width: 50%;
  height: 30%;
  border-radius: 20px;
  box-shadow: 0 0 15px 3px #000000bb;
}

#Gallery .clickable_button li {
  margin-right: 5px;
  margin-left: 5px;
}
