/* for shop.html */

.item_cell {
  width: 200px;
  height: 270px;

  font-size: 18px;

  box-shadow: 0 0 15px 3px #000000bb;
  /* padding: 4px; */
  border-radius: 20px;
  background-color: #ffffff06;

  /* fancy glow white thing */
  text-shadow: 0 0 15px #fafafa;

  text-align: center;
  vertical-align: top;

  cursor: pointer;
}

.item_cell:hover {
  box-shadow: 0 0 15px 3px #00000077;
  transition: 0.3s;
}

.item_cell:active {
  transform: translateX(1px) translateY(1px);
}

.item_cell .item_info {
  vertical-align: middle;
  width: 180px;
  height: 56px;

  margin-top: 5px;
}
/* item name */
.item_cell .item_info tr > td {
  text-align: left;
}

/* item price */
.item_cell .item_info tr > td:nth-child(2) {
  text-align: right;
}

.item_cell > img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

#product_listing > table {
  border-collapse: separate;
  border-spacing: 30px 30px;
}

.item_cell > .clickable_button {
  vertical-align: center;
}

#Shopping_Cart_Checkout_Modal .modal:not(button) * {
  color: black;
}

#Shopping_Cart_Checkout_Modal .modal button {
  color: white;
}

#Shopping_Cart_Checkout_Modal .modal .btn-primary {
  background-color: #35bd78bb;
  border-color: #35bd78bb;
}

#Shopping_Cart_Checkout_Modal .modal .btn-primary:hover {
  background-color: rgba(44, 156, 100, 0.73);
}

#Shopping_Cart_Checkout_Modal .modal .btn-primary:focus {
  outline-color: #35bd78bb;
}

#Shopping_Cart_Checkout_Modal #checkout_cart_list li {
  width: 100%;
}

/* background of the checkout modal */
#Shopping_Cart_Checkout_Modal .modal-content {
  background-color: #ffffffee;
  border-radius: 20px;
}

#Shopping_Cart_Checkout_Modal .list-group-item {
  background-color: #ffffffee;
}

#Shopping_Cart_Checkout_Modal #cart_table #itemFriendlyID {
  width: 10%;
}

#Shopping_Cart_Checkout_Modal #cart_table #itemNAME {
  width: 50%;
}
#Shopping_Cart_Checkout_Modal #cart_table #itemPRICE {
  width: 20%;
}

#Shopping_Cart_Checkout_Modal #cart_table #itemQUANTITY {
  width: 20%;
}

#Shopping_Cart_Checkout_Modal #cart_table {
  width: 350px;
}

#Shopping_Cart_Checkout_Modal tr > td {
  background-color: #ffffffee;
  border-bottom-width: 1px;
  border-bottom-color: #aaaaaaaa;

  min-height: 68px;
  padding: 0.5rem 1rem;
}

/* for the header row only */
#Shopping_Cart_Checkout_Modal tr > th {
  border-bottom-width: thin;
  border-bottom-color: #777777aa;

  min-height: 27.5px;
  padding-left: 10px;
  padding-right: 10px;
}

#Shopping_Cart_Checkout_Modal #header_row {
  background: rgb(241,241,241);
  background: linear-gradient(0deg, rgba(241,241,241,0.93) 0%, rgba(227,227,227,0.93) 56%, rgba(241,241,241,0.93) 100%);
}

#Shopping_Cart_Checkout_Modal tr:nth-child(odd):not(#header_row) > td {
  background-color: #efefefee;
}
